body {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #121212; /* fondo oscuro */
    color: #e0e0e0; /* texto claro */
}

.container {
    background: #333333; /* fondo de contenedor más oscuro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    width: 90%;
    max-width: 600px;
}

label, input, select, button {
    display: block;
    margin-top: 10px;
}

input, select {
    margin-bottom: 20px;
    width: calc(100% - 20px);
    height: 20px;
    background: #555555; /* fondo de entrada más oscuro */
    color: #ffffff; /* texto de entrada claro */
    border: 1px solid #888888; /* borde de entrada */
}

button {
    cursor: pointer;
    width: calc(100% - 20px);
    height: 30px;
    background-color: #006600; /* color de botón más oscuro */
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #008800; /* hover de botón más oscuro */
}

ul {
    list-style-type: none;
    padding: 0;
}

.notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
}

.notification.show {
    display: block;
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; transform: translateX(20px); }
    10%, 90% { opacity: 1; transform: translateX(0); }
}
